## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv(r'C:\Users\Admin\World_Weather_Analysis\Weather_Database\WeatherPy_database.csv')
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Cozumel,MX,20.5083,-86.9458,86.07,78,40,1.99,scattered clouds
1,1,Vila Velha,BR,-20.3297,-40.2925,84.15,65,0,20.71,clear sky
2,2,Eskil,TR,38.4017,33.4131,61.92,42,60,8.32,broken clouds
3,3,Guerrero Negro,MX,27.9769,-114.0611,79.56,52,3,0.34,clear sky
4,4,Ushuaia,AR,-54.8000,-68.3000,44.26,53,75,9.22,broken clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_city_data_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                         (city_data_df["Max Temp"] >= min_temp)]
preferred_city_data_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Cozumel,MX,20.5083,-86.9458,86.07,78,40,1.99,scattered clouds
1,1,Vila Velha,BR,-20.3297,-40.2925,84.15,65,0,20.71,clear sky
3,3,Guerrero Negro,MX,27.9769,-114.0611,79.56,52,3,0.34,clear sky
10,10,Garowe,SO,8.4054,48.4845,86.68,44,93,5.46,light rain
18,18,Tiznit,MA,29.5833,-9.5000,85.41,23,0,9.13,clear sky
...,...,...,...,...,...,...,...,...,...,...
1826,1826,Poso,ID,-1.3959,120.7524,77.54,88,98,4.54,overcast clouds
1831,1831,Butaritari,KI,3.0707,172.7902,82.49,70,99,22.21,overcast clouds
1832,1832,Guerrero Negro,MX,27.9769,-114.0611,79.56,52,3,0.34,clear sky
1837,1837,Mayumba,GA,-3.4320,10.6554,77.09,83,100,7.49,overcast clouds
1839,1839,Butaritari,KI,3.0707,172.7902,82.49,70,99,22.21,overcast clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_city_data_df.isnull().sum()

City_ID                0
City                   0
Country                2
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Weather Description    0
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_city_data_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Cozumel,MX,20.5083,-86.9458,86.07,78,40,1.99,scattered clouds
1,1,Vila Velha,BR,-20.3297,-40.2925,84.15,65,0,20.71,clear sky
3,3,Guerrero Negro,MX,27.9769,-114.0611,79.56,52,3,0.34,clear sky
10,10,Garowe,SO,8.4054,48.4845,86.68,44,93,5.46,light rain
18,18,Tiznit,MA,29.5833,-9.5000,85.41,23,0,9.13,clear sky
...,...,...,...,...,...,...,...,...,...,...
1826,1826,Poso,ID,-1.3959,120.7524,77.54,88,98,4.54,overcast clouds
1831,1831,Butaritari,KI,3.0707,172.7902,82.49,70,99,22.21,overcast clouds
1832,1832,Guerrero Negro,MX,27.9769,-114.0611,79.56,52,3,0.34,clear sky
1837,1837,Mayumba,GA,-3.4320,10.6554,77.09,83,100,7.49,overcast clouds
1839,1839,Butaritari,KI,3.0707,172.7902,82.49,70,99,22.21,overcast clouds

In [8]:
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Weather Description    0
dtype: int64

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Cozumel,MX,86.07,scattered clouds,20.5083,-86.9458,
1,Vila Velha,BR,84.15,clear sky,-20.3297,-40.2925,
3,Guerrero Negro,MX,79.56,clear sky,27.9769,-114.0611,
10,Garowe,SO,86.68,light rain,8.4054,48.4845,
18,Tiznit,MA,85.41,clear sky,29.5833,-9.5000,
22,Tiznit,MA,85.41,clear sky,29.5833,-9.5000,
23,Kapaa,US,75.52,broken clouds,22.0752,-159.3190,
30,Sechura,PE,75.38,scattered clouds,-5.5569,-80.8222,
31,Columbus,US,78.28,broken clouds,39.9612,-82.9988,
34,Nokaneng,BW,81.19,clear sky,-19.6667,22.2667,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat}, {lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel Not Found.....Skipping City")

Hotel Not Found.....Skipping City
Hotel Not Found.....Skipping City
Hotel Not Found.....Skipping City
Hotel Not Found.....Skipping City
Hotel Not Found.....Skipping City
Hotel Not Found.....Skipping City
Hotel Not Found.....Skipping City
Hotel Not Found.....Skipping City
Hotel Not Found.....Skipping City
Hotel Not Found.....Skipping City
Hotel Not Found.....Skipping City
Hotel Not Found.....Skipping City
Hotel Not Found.....Skipping City
Hotel Not Found.....Skipping City
Hotel Not Found.....Skipping City
Hotel Not Found.....Skipping City
Hotel Not Found.....Skipping City
Hotel Not Found.....Skipping City
Hotel Not Found.....Skipping City
Hotel Not Found.....Skipping City
Hotel Not Found.....Skipping City

In [11]:
# 7. Drop the rows where there is no Hotel Name.
import numpy as np
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
hotel_df.dropna(subset=['Hotel Name'], inplace=True)
hotel_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Cozumel,MX,86.07,scattered clouds,20.5083,-86.9458,Cozumel Palace® All Inclusive Resort
1,Vila Velha,BR,84.15,clear sky,-20.3297,-40.2925,Quality Suites Vila Velha
3,Guerrero Negro,MX,79.56,clear sky,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
10,Garowe,SO,86.68,light rain,8.4054,48.4845,Curubo Hotel
23,Kapaa,US,75.52,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
...,...,...,...,...,...,...,...
1826,Poso,ID,77.54,overcast clouds,-1.3959,120.7524,Hotel 77 Poso
1831,Butaritari,KI,82.49,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
1832,Guerrero Negro,MX,79.56,clear sky,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
1837,Mayumba,GA,77.09,overcast clouds,-3.4320,10.6554,LIKWALE LODGE
1839,Butaritari,KI,82.49,overcast clouds,3.0707,172.7902,Isles Sunset Lodge

In [14]:
# 8b. Export the City_Data into a csv
hotel_df.to_csv(r'C:\Users\Admin\World_Weather_Analysis\Vacation_Search\WeatherPy_Vacation.csv', index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 
!jupyter nbextension enable --py gmaps
!jupyter nbextension enable --py widgetsnbextension

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
            max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok
Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok

Figure(layout=FigureLayout(height='420px'))